{{ vm.naming }}

<div class="days">
    <div class="row day" ng-repeat="day in vm.days track by $index">
        <input type="hidden" name="{{ vm.naming }}[{{ $index }}].id" ng-model="vm.days[$index].id">
        <div class="col-md-5">
            <div class="form-group">
                <label>Start</label>
                <input type="text" ng-model="vm.days[$index].start" data-mezzo-datetimepicker class="form-control"
                       name="{{ vm.naming }}[{{ $index }}].start">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>End</label>
                <input type="text" ng-model="vm.days[$index].end" data-mezzo-datetimepicker class="form-control"
                       name="{{ vm.naming }}[{{ $index }}].end">
            </div>
        </div>
        <div class="col-md-2">
            <button ng-click="vm.removeDay($index)" ng-if="vm.days.length > 1" class="btn btn-default btn-sm"><i
                    class="ion-ios-close"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.addDay()" class="btn btn-info">Add</button>
        </div>
    </div>
</div>