<div class="subscriptions">
    <div class="row subscription" ng-repeat="subscription in vm.subscriptions track by $index">
        <div class="col-md-12">
            <div class="form-group">
                <label>From</label>
                <input class="form-control" type="text" disabled value="{{ subscription.created_at }}"/>
            </div>
            <div class="form-group">
                <label>To</label>
                <input class="form-control" type="text" disabled value="{{ subscription.subscribed_until }} ({{ vm.timeLeft(subscription) }})"/>
            </div>
            <div class="form-group">
                <label>Cancelled</label>
                <input type="checkbox" class="checkbox" disabled ng-checked="vm.isCancelled(subscription)"/>
            </div>
            <div class="btn-group">
                <span class="btn btn-default" >Cancel</span>
                <span class="btn btn-danger" >Delete</span>
            </div>
            <hr/>
        </div>
    </div>
</div>