<div class="subscriptions">
    Subscriptions directive:
    <div class="row subscription" ng-repeat="subscription in vm.subscriptions track by $index">
        <div class="col-md-12">
            <div class="form-group">
                <label>From</label>
                <input class="form-control" type="text" disabled value="{{ subscription.created_at }}"/>
            </div>
            <div class="form-group">
                <label>To</label>
                <input class="form-control" type="text" disabled value="{{ subscription.subscribed_until }}"/>
            </div>
            <div class="form-group">
                <label>Cancelled</label>
                <input type="checkbox" class="checkbox" disabled ng-checked="vm.isCancelled(subscription)"/>
            </div>

            <hr/>


        </div>
    </div>
</div>