<div class="subscriptions">
    <div class="row subscription" ng-repeat="subscription in vm.subscriptions track by $index">
        <div class="col-md-12">
            <div class="form-group">
                <label>Plan</label>
                <input class="form-control" type="text" disabled value="{{ subscription.plan }}"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>From</label>
                <input class="form-control" type="text" disabled value="{{ subscription.created_at }}"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>To</label>
                <input class="form-control" type="text" disabled
                       value="{{ subscription.subscribed_until }} ({{ vm.timeLeft(subscription) }})"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Cancelled</label>
                <input type="checkbox" class="checkbox" disabled ng-checked="vm.isCancelled(subscription)"/>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <div class="btn-group">
            <span class="btn btn-default" ng-if="!vm.isCancelled(subscription)"
                  ng-click="vm.changeCancel(subscription, 1)">Cancel</span>
            <span class="btn btn-default" ng-if="vm.isCancelled(subscription)"
                  ng-click="vm.changeCancel(subscription, 0)">Uncancel</span>
                <span class="btn btn-danger" ng-click="vm.delete(subscription)">Delete</span>
            </div>
            <hr/>
        </div>
    </div>
</div>
</div>