<div class="help-block" style="color: #d9534f" ng-messages="getFormInput().$error" ng-if="getFormInput().$dirty">
    <div ng-message="mezzoServerSide">{{ getFormInput().$error.mezzoServerSide }}</div>
    <div ng-message="required">Dieses Feld ist erforderlich</div>
    <div ng-message="minlength">Die Eingabe ist zu kurz</div>
    <div ng-message="maxlength">Die Eingabe ist zu lang</div>
    <div ng-message="min">Eingabe ist zu nieder.</div>
    <div ng-message="max">Eingabe ist zu hoch.</div>
    <div ng-message="url">Eine URL wird erwartet.</div>
</div>