#content-container{
  position: relative;
  padding-top: $topbar-height;
  min-height: 100%;
}

#content-main{

}

#content-main > .content{
  min-height: calc(100vh - #{$topbar-height + $footer-height});
  padding-bottom: $content-padding;
  background-color: $mezzo-white-paper;

  .wrapper {
    padding: 0px $content-padding;
  }

  .wrapper:first-of-type {
    padding-top: $content-padding;
  }
}

.panel {

  border-radius: 0px;
  border-width: 0;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.05);

  .panel-body {
    padding: 30px 30px;

    h4 {
      font-weight: 400;
      font-size: 16px;
    }
  }

  .panel-heading {
    padding: 0;
    @extend .clearfix;

    h3 {
      display: block;
      padding: 20px 30px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 0px;

      @extend .pull-left;
    }
  }

  .panel-actions{
    @extend .pull-right;
    padding: 20px 30px;

    a{
      @extend .light-icon;
      padding: 8px 10px;
    }
    
    a:last-child{
      padding-right: 0px;
    }

  }

  .alert{
    border-radius: 0px;
    margin-top: -1px;
    padding-right: 50px;
    margin-bottom: 0px;
  }

}

#content-main > .content > :last-child{
  margin-bottom: 0px !important;
}

.panel-bordered > .panel-heading {
  border-bottom: 1px solid #E4EAEC;
}

#content-aside{
  position: absolute;
  top: $topbar-height;
  bottom: 0;
  left: 0px;
  width: $content-aside-width;
  overflow-y: auto;
  background: $content-aside-background;
  color: $content-aside-color;

  .wrapper{
    padding: 0px 15px;
  }

  .list-group{
    margin-left: -15px;
    margin-right: -15px;
  }

  .list-group-item, button.list-group-item{
    color: $content-aside-color;
    border: none;
    padding-left: 15px;

    &:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }

    &.active{
      color: $mezzo-white;
    }

    i{
      margin-right: 5px;
      width: 19px;
      text-align: center;
      display: inline-block;
    }
  }
}

#content-aside+#content-main {
  margin-left: $content-aside-width;
}

#view-overlay{
  @include overlay;

  position: fixed;
}