html, body {
  color: $mezzo-font-color;
  background-color: $mezzo-white-paper;
}

h1, h2, h3{
  text-transform: uppercase;
  font-weight: 500;
}

h3{
  font-size: 16px;
}
html, body, #page-container, #view-main{
  height: 100%;
}

a:active{
  text-decoration: none;
}

i{
  font-size: 15px;
}

#page-container{
  transition: ease padding $mezzo-animation-long;

}

.sidebar-pinned #page-container {
  padding-left: $sidebar-width;
}

.sidebar-unpinned #page-container {
  padding-left: $sidebar-closed-width;
}

#view-main {
  position: relative;
  background-color: $mezzo-white-paper;
}

a {
  transition: ease all 0.2s;
}

.light-icon{
  color: $mezzo-font-color-light;
  transition: ease color $mezzo-animation-short;
  cursor: pointer;
  text-decoration: none;
}

.light-icon.highlight{
  transition: ease box-shadow $mezzo-animation-long;
  background-color: #EEE;
  border-radius: 50px;
  color: $mezzo-font-color;
}

.light-icon.highlight:hover{
  color: $mezzo-font-color-dark;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25);

}

.light-icon:hover{
  color: $mezzo-font-color;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


