#content-footer{
  height: $footer-height;
  padding: 10px $content-padding;
  background-color: $mezzo-white-paper;
  color: $mezzo-lightgray;

  a{
    color: $mezzo-lightgray-dark;
    font-weight: 500;
    text-decoration: none;

  }

  img.logo{
    height: 18px;
    margin: 0px 5px;
  }

  .content-footer-inner{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
  }
}