#topbar {
  height: $topbar-height;
  background-color: $mezzo-white;
  transition: ease padding $mezzo-animation-long;

  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: $sidebar-width;
  box-shadow: $top-shadow;

  .toolbox {
    @include layout-list();

    margin: 0px 20px;

    li {
      font-size: 14px;
      padding-top: 10px;
      height: 40px;
      width: 40px;
      margin: ($topbar-height / 2 - 20) 0px;
      display: inline-block;
      background-color: $mezzo-white-paper;
      text-align: center;
      cursor: pointer;
      margin-right: 4px;
    }
  }

  .toolbox-right{
    @extend .pull-right;
  }

  .toolbox-left{
    @extend .pull-left;
  }
}

.sidebar-unpinned #topbar{
  padding-left: $sidebar-closed-width;
}