$font-family-roboto:  'Roboto', sans-serif !default;

$brand-primary:     #fb503b;
$brand-success:     #46c37b;
$mezzo-gray-dark:   #191b1f;
$mezzo-gray:        #2a2e35;
$mezzo-gray-light:  #34373d;

$brand-primary-light: lighten($brand-primary, 10%);

$mezzo-font-color-dark:   #333333;
$mezzo-font-color:        #555555;
$mezzo-font-color-light:  #aaaaaa;

$mezzo-borders-normal:    1px solid #cacccd;
$mezzo-borders-light:     1px solid #efefef;

$mezzo-lightgray:             #999999;
$mezzo-lightgray-dark:        #777777;
$mezzo-lightgray-light:       #CCCCCC;
$mezzo-lightgray-lighter:     #EEEEEE;

$mezzo-animation-short: 0.15s;
$mezzo-animation-normal: 0.25s;
$mezzo-animation-long: 0.30s;


$mezzo-white-paper:   #e4e7e8;
$mezzo-white:         #ffffff;

$sidebar-width: 235px;
$sidebar-closed-width: 50px;
$sidebar-z-index: 100;
$sidebar-padding: 10px;

$topbar-height: 60px;

$content-padding: 30px;
$content-aside-width: 260px;
$quickview-width: 285px;
$footer-height: 50px;

$font-family-base: $font-family-roboto;

$content-aside-background: $mezzo-white;
$content-aside-color: $mezzo-lightgray-dark;

/******* BOOTSTRAP **********/
$btn-primary-border: transparent;
$btn-success-border: transparent;
$btn-info-border: transparent;
$btn-warning-border: transparent;
$btn-danger-border: transparent;

$brand-success: #46C47B;
$border-radius-base: 2px;
$top-shadow: 1px 0px 5px rgba(0,0,0,0.2);



