<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Advanced Options</h4>
            </div>
            <div class="modal-body">
                <!-- Title -->
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" ng-model="options.title" disabled>
                </div>
                <!-- Title -->
                <!-- Relation Sentence -->
                <p class="text-primary" ng-bind="options.sentence()"></p>
                <!-- Relation Sentence -->
                <!-- Pivot Table -->
                <div class="form-group" ng-show="options.showPivotTable()">
                    <label>Pivot Table</label>
                    <input type="text" class="form-control" placeholder="Pivot Table" ng-model="options.pivotTable">
                </div>
                <!-- Pivot Table -->
                <ng-include src="'modules/model-builder/components/relation/advanced-options-table.html'"></ng-include>
            </div>
        </div>
    </div>
</div>