<!-- Categories -->
<ul class="nav nav-pills nav-stacked">
    <li ng-repeat="category in vm.categories" ng-class="vm.isActive(category)">
        <a href="" ng-click="vm.selectCategory(category)">
            <span style="display: inline-block; width: 20px">
                <span ng-class="category.icon"></span>
            </span>
            <span ng-bind="category.label"></span>
        </a>
    </li>
</ul>
<!-- Categories -->

<!-- Order by -->
<div class="well">
    <label for="order-by">Order by</label>
    <select id="order-by"
            class="form-control"
            ng-model="vm.orderBy"
            ng-options="item for item in vm.orderOptions">
    </select>
</div>
<!-- Order by -->