<div class="wrapper">
    <div class="row">
        <div class="col-sm-4 center-block">
            <div class="well">

                <div class="progress" ng-show="vm.loading">
                    <div class="progress-bar progress-bar-striped active" style="width: 100%">Please be patient...</div>
                </div>

                <form ng-show="vm.user" ng-submit="vm.saveUser()">

                    <h2 class="text-center" ng-bind="vm.user.name"></h2>

                    <hr>

                    <div class="row text-center">
                        <div class="col-sm-6">
                            Created <span ng-bind="vm.moment(vm.user.created_at)"></span>
                        </div>
                        <div class="col-sm-6">
                            Last updated <span ng-bind="vm.moment(vm.user.updated_at)"></span>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" ng-model="vm.user.name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control" ng-model="vm.user.email">
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-sm-6">
                            <a ui-sref="user-list" class="btn btn-warning btn-block center-block">
                                <span class="ion-backspace"></span>
                                Cancel
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block center-block">
                                <span class="ion-checkmark-circled"></span>
                                Save changes
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>