<table class="table">
    <thead>
        <tr>
            <th ng-bind="options.leftModel.label()"></th>
            <th ng-bind="options.rightModel.label()"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- Left Model -->
            <td>
                <!-- Naming -->
                <div class="form-group">
                    <label>Naming</label>
                    <input type="text" class="form-control" placeholder="Naming" ng-model="options.leftModel.naming">
                </div>
                <!-- Naming -->
                <!-- Column Radio -->
                <div class="radio" ng-hide="options.showPivotTable()">
                    <label>
                        <input type="radio" name="column" ng-value="options.Position.LEFT" ng-model="options.columnPosition" checked>
                        Column
                    </label>
                </div>
                <!-- Column Radio -->
                <!-- Column Name -->
                <div class="form-group" ng-show="options.showLeftColumn()">
                    <label>Column</label>
                    <input type="text" class="form-control" placeholder="Column" ng-model="options.leftModel.column">
                </div>
                <div ng-show="options.showPivotTable()">
                    <label>Column</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span ng-bind="options.pivotTable"></span>.
                        </span>
                        <input type="text" class="form-control" placeholder="Column" ng-model="options.leftModel.column">
                    </div>
                </div>
                <!-- Column Name -->
            </td>
            <!-- Left Model -->
            <!-- Right Model -->
            <td>
                <!-- Naming -->
                <div class="form-group">
                    <label>Naming</label>
                    <input type="text" class="form-control" placeholder="Naming" ng-model="options.rightModel.naming">
                </div>
                <!-- Naming -->
                <!-- Column Radio -->
                <div class="radio" ng-hide="options.showPivotTable()">
                    <label>
                        <input type="radio" name="column" ng-value="options.Position.RIGHT" ng-model="options.columnPosition">
                        Column
                    </label>
                </div>
                <!-- Column Radio -->
                <!-- Column Name -->
                <div class="form-group" ng-show="options.showRightColumn()">
                    <label>Column</label>
                    <input type="text" class="form-control" placeholder="Column" ng-model="options.rightModel.column">
                </div>
                <div ng-show="options.showPivotTable()">
                    <label>Column</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span ng-bind="options.pivotTable"></span>.
                        </span>
                        <input type="text" class="form-control" placeholder="Column" ng-model="options.rightModel.column">
                    </div>
                </div>
                <!-- Column Name -->
            </td>
            <!-- Right Model -->
        </tr>
    </tbody>
</table>