<div class="form-group">
    <label ng-bind="options.title"></label>
    <p class="text-primary" ng-bind="options.sentence()"></p>
    <select class="form-control" ng-if="options.rightModel.mode === options.Mode.ONE">
        <option>Simon</option>
        <option>Marc</option>
    </select>
    <div ng-show="options.rightModel.mode === options.Mode.MANY">
        <select class="form-control chosen" multiple>
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Expert</option>
        </select>
        <script>
            $('select.chosen').chosen();
        </script>
    </div>
</div>